.saturday {
  color: #1976d2;
}

.sunday {
  color: #d32f2f;
}

.holiday {
  color: #d32f2f;
}
.react-calendar {
  border: none;
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 8px 16px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar__tile {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.date-number {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.react-calendar__tile:enabled:hover {
  background-color: #f0f8ff;
  cursor: pointer;
  border-radius: 30pt;
}

.react-calendar__tile--now {
  background: #ffebcd;
  border-radius: 30pt;
}

.react-calendar__tile--active {
  background: #f0f8ff;
  border-radius: 30pt;
}

.gray-date {
  color: #b0b0b0;
}
